# Introduction to Python

**Covered Topics**
- Basic Syntax in Python
- Data Structure in Python

# 1. Basic Syntax

In [ ]:
# Variable Assignment
nama = "Luhut"
umur = "20"

nama

'Luhut'

In [ ]:
# Print Function
print(nama)

Luhut

In [ ]:
# concat string
print("Hai, nama saya",nama,", umur saya ",umur)

print("Hai, nama saya Luhut, umur saya 20")

Hai, nama saya Luhut , umur saya  20
Hai, nama saya Luhut, umur saya 20

## Integer & Float

In Python, integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision


A floating point value is represented either as whole plus fractional digits (like decimal values) or as a mantissa plus an exponent.

- penjumlahan
- pengurangan
- perkalian
- pembagian
- modulo
- exponent

Belajar `math` dan `random`

In [ ]:
a = 3
type(a)

int

In [ ]:
b = 3.2
type(b)

float

In [ ]:
a + b

6.2

In [ ]:
a - b

-0.20000000000000018

In [ ]:
a * b

9.600000000000001

In [ ]:
a = 102
b = 3
a / b

34.0

In [ ]:
a ** b

1061208

In [ ]:
a = 103
b = 3
type(a / b)

float

## Challenge #1
Hitung Operasi Matematika berikut

1. Buat rumus luas lingkaran, jika diketahui r saja
rumus: $Luas Lingkaran = \pi r^2$

2. Dalam sebuah kelas, terdapat siswa pria dan wanita. Namun untuk menjaga kelas tetap beragam maka keragaman kelas  akan diukur keragaman tersebut dapat diukur dengan :

  **Gini Index**

  pria = diketahui

  wanita = diketahui

  $p$ = wanita / (wanita + pria)

  $ Gini = 1 - p^2 - (1-p)^2 $ (Diketahui $p$)

3. Salah satu faktor yang menyebabkan turunnya harga mobil adalah umur dari mobil tersebut. Buatlah sebuah persamaan regresi yang dapat memprediksi harga dari mobil tersebut. Rumus dari persamaan regresi adalah

  umur mobil = diketahui

  $ harga \: mobil = 100 + 3 * umur\:mobil $

## Boolean

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

- Boolean Variable
- Operator Make Boolean Data `<`,`>`,`<=`,`>=`,`==`
- Operator in Boolean Data `and` , `or`

In [ ]:
a = True
b = False

a and b

False

In [ ]:
a = 30
b = 10

a > b

True

In [ ]:
a = 12
b = 10

a == b

False

In [ ]:
a = 'jagung'
b = 'apel'

a == b

False

In [ ]:
a = 10
b = 11
c = 12

(a >= b) or (b <= c)

True

In [ ]:
 (b <= c)

True

In [ ]:
(a >= b)

False

## Conditional Statement - If Else

In [ ]:
# Conditional Statement with Multiple IF

nilai = 65

if nilai >= 75:
  hasil = "tidak lulus"
elif nilai >= 50:
  hasil = "lulus"
else:
  hasil = "remedial"

hasil

'lulus'

In [ ]:
# Conditional Statement with Nested IF
num = 15
if num >= 0:
  print("ini test")
  if num == 0:
      print("nol")
  else:
      print("Positif")
else:
    print("Negatif")

ini test
Positif

In [ ]:
for i in range(6):
  print(f"i sekarang adalah {i}")

i sekarang adalah 0
i sekarang adalah 1
i sekarang adalah 2
i sekarang adalah 3
i sekarang adalah 4
i sekarang adalah 5

In [ ]:
kumpulan_angka = list(range(6))
print(kumpulan_angka)

[0, 1, 2, 3, 4, 5]

In [ ]:
for i in range(6):
  print(f"i sekarang adalah {i}")

i sekarang adalah 0
i sekarang adalah 1
i sekarang adalah 2
i sekarang adalah 3
i sekarang adalah 4
i sekarang adalah 5

# 2. Data Type in Python

| Kategori | Tipe | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | ----------- |
| Text | str | Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit dengan " atau ') | "Python Lang" |
| Numeric | int | Menyatakan bilangan bulat | 11 atau 55 |
| Numeric | float | Menyatakan bilangan yang mempunyai koma | 3.99 atau 3.24 |
| Boolean | bool | Menyatakan benar True atau salah False | True atau False |

### String Operations 1

| Simbol | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- |
| a + b | Pertambahan | "a" + "b" == "ab" |
| a + b | Pertambahan | "1" + "1" == "11" |
| a * b | Perkalian | "wk" * 2 == "wkwk" |
| a[start:end] | Irisan | "abcd"[1:3] == "bc |
| a[::-1] | Penulisan dibalik | "abcd"[::-1] == "dcba" |

<center>Penulisan string di python bisa menggunakan '', atau "", atau juga """ """ untuk teks yang panjang</center>

In [ ]:
"wk" * 2

'wkwk'

Tentang Index di String Python

| String | b | a | m | b | a | n | g |
| -- | -- | -- | -- | -- | -- | -- | -- |
| Index | 0 | 1 | 2 | 3 | 4 | 5 | 6 |

<p></p>
<center>Untuk slicing rumusnya <b>variable</b>[index mulai:index akhir], cara baca <b>index akhir</b> ini selalu dikurangin 1.
<p></p>    
Misal index mulai 2, index akhir 5, artinya kita ngambil urutan dari 2 sampai sebelum 5, yaitu 4, jadinya kita dapatkan pada index <b>2,3,4</b></center>

In [ ]:
# Try string slicing operation

nama = "bambang"
# String = b | a | m | b | a | n | g
# Index = 0 | 1 | 2 | 3 | 4 | 5 | 6

# Start index is 2, end index is 5
# Meaning that we take indices 2,3, and 4 (before 5)
print(nama[2:5])

# Start index is empty, end index is 3
# Meaning that we take everything from beginning, ends at 2 (before 3)
print(nama[:3])

# Start index is 2, end index is empty
# Meaning that we start from index 2, and take everything till the end
print(nama[2:])

mba
bam
mbang

### String Operations 2

| Simbol | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- |
| a.upper() | Konversi menjadi huruf besar | "saya".upper() == "SAYA"
| a.lower() | Konversi menjadi huruf kecil | "KaMu".lower() == "kamu"
| a.isdigit() | Membaca apakah string ini angka atau bukan | "5".isdigit() == True
| a.replace(before,after) | Mereplace string di variabel A berdasarkan before dan after | "hai".replace("ha","wk") == "wki"
| a.split(b) | Pisahkan variabel A berdasarkan variabel B | "aku,kamu,kita".split(",") == ["aku", "kamu", "kita"]
| sorted(a) | Mengurutkan variabel A secara ascending | sorted([1,5,2]) == [1,2,5] |


<p></p>
<center><a href="https://docs.python.org/3/library/stdtypes.html#string-methods">
    <button>Klik disini untuk String Manipulation Details</button>
</a></center>

In [ ]:
# Try string operation 2

# Mereplace string di variabel A berdasarkan before dan after
# Ubah "Pisang Goreng!" menjadi "Hisang Horeng!"
str_val = "Pisang Goreng!"
str_val = str_val.replace("P", "H")
str_val = str_val.replace("G", "H")
print(str_val)

Hisang Horeng!

In [ ]:
str_val = str_val.replace("s", "h")
str_val = str_val.replace("r", "h")
print(str_val)

Hihang Hoheng!

In [ ]:
# Split by comma ","
str_val = "SPONTAN, UHUY!"
print(str_val.split(","))

['SPONTAN', ' UHUY!']

In [ ]:
# Split by spasi " "
str_val = "SPONTAN, UHUY!"
print(str_val.split(" "))

['SPONTAN,', 'UHUY!']

In [ ]:
str_val = "SPONTAN, UHUY!"
print(str_val.split("U"))

['SPONTAN, ', 'H', 'Y!']

## 3. Data Structure in Python

| Kategori | Tipe | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | ----------- |
| Sequence | list | Menyatakan beberapa untaian data dalam berbagai tipe data dan isinya bisa diubah-ubah (mutable) | ["Air", 21, True] |
| Sequence | tuple | Menyatakan beberapa untaian data dalam berbagai tipe data namun isinya tidak bisa diubah-ubah (immutable) | ("Air", 21, True) |
| Mapping | dict | Menyatakan beberapa untaian data dalam berbagai tipe data dan memiliki key/petujuntuk dalam menyimpan setiap nilai nya | {"nama":"Lutfi", "umur": 28} |
| Set | set | Menyatakan beberapa untaian data dalam berbagai tipe data, setiap nilainya bernilai unik, dan tidak berurutan | {"Jakarta", "Bandung", "Bekasi"} |

### List in Python

Sistem indexing nya sama dengan yang di string, dimulai dari indeks 0, dan bisa diisi oleh tipe data apapun

<img src="https://pynative.com/wp-content/uploads/2021/03/python-list.jpg">

| Slicing | Makna |
| --- | --- |
| `[:]` | Mengambil seluruh index, tiada batasan |
| `[n:]` | Mengambil dari index ke-n sampai index terakhir |
| `[:m]` | Mengambil dari index pertama sampai index ke-m |
| `[n:m]` | Mengambil dari index ke-n hingga index ke-m |
| `[-1]` | Mengambil index terakhir |
| `[:-1]` | Mengambil index dari pertama sampai sebelum terakhir (selain index -1)|
| `[-1:]` | Mengambil index dari dari belakang (satu index)|

In [ ]:
# in R we could say this is a 'vector'
# ini_vector = c(1,2,3,"test",c(4,5,6))

# in Python we called it as 'list'
# ini_list = [1,2,3,"test",[4,5,6]]

# First List Operation
list_pertama = [1,2,3]

print("Mengambil value urutan PERTAMA:", list_pertama[0])
print("Mengambil value urutan KEDUA:", list_pertama[1])
print("Mengambil value urutan KETIGA:", list_pertama[2])

print("==== katanya biar ada pembatas diantara kita =====")

# Second List Operation
list_kedua = [100,"Katanya integer aja?", True, 100.549373]
print("Saya mau ambil urutan kedua:", list_kedua[1])
print("Saya mau ambil urutan terakhir/keempat:",list_kedua[3])

Mengambil value urutan PERTAMA: 1
Mengambil value urutan KEDUA: 2
Mengambil value urutan KETIGA: 3
==== katanya biar ada pembatas diantara kita =====
Saya mau ambil urutan kedua: Katanya integer aja?
Saya mau ambil urutan terakhir/keempat: 100.549373

In [ ]:
# Multiple Index is also allowed inside a list
list_multiple = ["bumi","itu","datar",["bagi","orang","awam"]]

# Get "orang"
list_multiple[3][1]

'orang'

### More Common List Functions

| Fungsi | Deskripsi | Contoh |
| --- | --- | -- |
| len(x) | Menghitung jumlah objek didalam list | len([1,2,3]) == 3 |
| sum(x) | Menghitung penjumlahan semua objek numerikal didalam list | sum([1,2,3]) == 6 |
| x.append(y) | Menambah objek Y pada urutan terakhir kedalam list X | x.append(5) |
| x.remove(y) | Menghapus indeks ke-y dalam list X | x.remove(5) |
| del x[y] | Menghapus indeks ke-y dalam list X | del x[5] |

In [ ]:
abc = "abc"
cde = 'abc'

goat = "Messi is the greatest of all time"
goat = "Messi is the 'GOAT'"
goat = 'CR is the "GOAT"'

In [ ]:
# Common basic function in List
listku = [1,2,3,4,5]

# Calculate how many objects inside a list
print(len(listku)) # length(listku)

# Sum all the numerical values inside a list
print(sum(listku)) # sum(listku)

# Add new value to list
listku.append(50) # We try to insert 50
print(listku)

# Delete an existing value
del listku[3] # We try to delete 4
print(listku)

5
15
[1, 2, 3, 4, 5, 50]
[1, 2, 3, 5, 50]

## Challenge #2

1. Buatkan list 10 nama kota/kabupaten secara acak
2. Tampilkan 3 data pertama
3. Tampilkan 2 data terakhir
4. Tambahkan 1 kota baru
5. Urutkan berdasarkan abjad

### Tuple in Python

Sifatnya dengan list, namun bersifat **immutable** alias tidak bisa direplace valuenya dengan value baru, kemudian menggunakan **( )**. Namun, secara processing time lebih cepat daripada list.

<img src="https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg">

In [ ]:
tuple_2 = (100,"Katanya integer aja?", True, 100.549373, True)
print("Saya mau ambil urutan kedua:", tuple_2[1])
print("Saya mau ambil urutan terakhir/kelima:",tuple_2[4])

Saya mau ambil urutan kedua: Katanya integer aja?
Saya mau ambil urutan terakhir/kelima: True

### Set in Python

Sifatnya dengan list, namun bersifat **unique** alias value didalam *set* akan bersifat unik/distinct, kemudian menggunakan **{ }**. Apabila digunakan kepada container data type, maka akan mengambil unique value dan sort secara ascending.

<img src="https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg">

In [ ]:
# Create new set
value_set = {5,43,2,1,6,2,3,1,6,3,6}
print(value_set)

{1, 2, 3, 5, 6, 43}

In [ ]:
# "susilo bambang yudhoyono" and "jokowi" appears 2 times
preseiden_era_reformasi = ["habibi","abdurrahman wahid","megawati","susilo bambang yudhoyono","susilo bambang yudhoyono","jokowi","jokowi"]

# Get unique only and sort in ascending:
preseiden_era_reformasi = set(preseiden_era_reformasi)
preseiden_era_reformasi

{'abdurrahman wahid',
 'habibi',
 'jokowi',
 'megawati',
 'susilo bambang yudhoyono'}

In [ ]:
"soeharto" in preseiden_era_reformasi

False

In [ ]:
for presiden in preseiden_era_reformasi:
  print(presiden)
  if presiden == "megawati":
    print("cantik")

habibi
megawati
cantik
abdurrahman wahid
susilo bambang yudhoyono
jokowi

In [ ]:
sorted(preseiden_era_reformasi)

['abdurrahman wahid',
 'habibi',
 'jokowi',
 'megawati',
 'susilo bambang yudhoyono']

### Dictionary in Python

Struktur data yang menyerupai loker penyimpanan, setiap kotak diloker dapat diisi apapun tergantung kunci/penamaan yang digunakan (key and value). Tipe data ini sering digunakan untuk membuat tabel seperti tabel excel (kolom dan baris)

<img src="https://pynative.com/wp-content/uploads/2021/02/dictionaries-in-python.jpg">

In [ ]:
profil = {
  "nama": "Rois",
  "pekerjaan": "Data engineer",
  "tinggi": 172
}
print(profil)
print(profil["nama"])

{'nama': 'Rois', 'pekerjaan': 'Data engineer', 'tinggi': 172}
Rois

In [ ]:
profil["tinggal"] = "Sukamiskin"
print(profil)

{'nama': 'Rois', 'pekerjaan': 'Data engineer', 'tinggi': 172, 'tinggal': 'Sukamiskin'}

In [ ]:
profil["nama"] = "Sukakaya"
print(profil)

{'nama': 'Sukakaya', 'pekerjaan': 'Data engineer', 'tinggi': 172, 'tinggal': 'Sukamiskin'}

In [ ]:
for x in profil.values():
  print(x)

Sukakaya
Data engineer
172
Sukamiskin

In [ ]:
for x in profil.keys():
  print(x)

nama
pekerjaan
tinggi
tinggal

In [ ]:
for x, y in profil.items():
  print("ini key:",x, "ini value:", y)

ini key: nama ini value: Sukakaya
ini key: pekerjaan ini value: Data engineer
ini key: tinggi ini value: 172
ini key: tinggal ini value: Sukamiskin

In [ ]:
for telentang, tengkurep in profil.items():
  print("ini key:",telentang, "ini value:", tengkurep)

ini key: nama ini value: Sukakaya
ini key: pekerjaan ini value: Data engineer
ini key: tinggi ini value: 172
ini key: tinggal ini value: Sukamiskin

In [ ]:
profil['skills'] = ["python", "mengolah data", "google cloud platform"]
print(profil)

{'nama': 'Sukakaya', 'pekerjaan': 'Data engineer', 'tinggi': 172, 'tinggal': 'Sukamiskin', 'skills': ['python', 'mengolah data', 'google cloud platform']}

In [ ]:
profil["skills"].append("memasak")
print(profil)

{'nama': 'Sukakaya', 'pekerjaan': 'Data engineer', 'tinggi': 172, 'tinggal': 'Sukamiskin', 'skills': ['python', 'mengolah data', 'google cloud platform', 'memasak']}

In [ ]:
for i in profil['skills']:
  print(i)

python
mengolah data
google cloud platform
memasak